@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Customize the entire app. Change :root to your selector if you want to scope the styles.


.mat-mdc-extended-fab {
    flex-direction: row-reverse ;

    .mat-icon {
        margin-inline-end: 0px !important;
        margin-inline-start: 8px !important;
    }

}

.avatar-large {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.avatar-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}